/* AntD Override */
input {
  border-radius: 0.3rem !important;
  border: 0.1rem solid rgba(128, 128, 128, 0.521) !important;
  height: 2.3rem !important;
}

label {
  font-size: 1rem !important;
  color: black !important;
}

.ant-form-item {
  margin: 0.7rem 0 !important;
}

/* Common Styles */

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.normal-text {
  font-size: 1rem;
}

.card {
  box-shadow: 0 0 2px rgb(121, 121, 121);
  border-radius: 0;
}

.primary-button {
  background-color: rgb(230, 0, 176) !important;
  border-color: blue !important;
  height: 2.5rem !important;
  width: 100% !important;
  color: white !important;
  font-size: 1rem;
}

/* Authentication pages */

.authentication {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.authentication-form {
  width: 400px;
}
